<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<!-- Side Navigation Bar -->
<div class="sidenav">
    <a href="index.html">Default Toolkit</a>
    <a href="singlish.html">Advance Singlish</a>
    <a href="grammar.html">Advance Grammar</a>
    <a href="summarize.html">Advance Summarize</a>
    <!-- Add more links for other sections or pages -->
</div>
<script src="../static/script.js"></script>
</body>
</html>